[flake8]
doctests = True
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # See https://github.com/sbdchd/flake8-pie/issues/24
    PIE782,
    # We like f-strings
    SFS301,
    # Still have a few string percent formatting lines,
    SFS101,

# =====================
# flake-quote settings:
# =====================
# This matches black's output:
inline-quotes = double

# =============================
# flake8-import-order settings:
# =============================
# At the time of writing, matched 'pep8' (relaxed), and both the
# 'smarkets' ('google' with plain imports before from) and 'edited'
# styles (appears to differ only in treatment of local packages).
import-order-style = pep8
