[flake8]
doctests = True
max-line-length = 88
extend-ignore =
    # See https://github.com/PyCQA/pycodestyle/issues/373
    E203,
    # See https://github.com/sbdchd/flake8-pie/issues/24
    PIE782,

# =====================
# flake-quote settings:
# =====================
# This matches black's output:
inline-quotes = double
