# pre-commit run --all-files
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-executables-have-shebangs
    -   id: check-json
    -   id: check-merge-conflict
    -   id: check-shebang-scripts-are-executable
    -   id: check-symlinks
    -   id: check-yaml
    -   id: debug-statements
    -   id: destroyed-symlinks
    -   id: end-of-file-fixer
        files: \.(py|sh|rst|yml|yaml)$
    -   id: mixed-line-ending
    -   id: trailing-whitespace
        files: \.(py|sh|rst|yml|yaml)$
-   repo: local
    hooks:
    -   id: no-tabs
        name: No tabs
        description: Reject any files containing a tab
        entry: '\t'
        language: pygrep
        files: \.(py|sh|rst|yml|yaml)$
-   repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
    -   id: shfmt  # prebuilt upstream executable
        args: [
            '-sr',
            '-i=4',
            '-w',
        ]
-   repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
    -   id: shellcheck
        args: [
            '--exclude=SC2086,SC2013',
            '--severity=info',
        ]
-   repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    -   id: pyupgrade
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
    # Run the Ruff linter (flake8 alternative):
    -   id: ruff
        args: [
            '--fix',
            '--exit-non-zero-on-fix',
            '--extend-select=B,BLE,C4,D,I,ISC,PIE,UP',
            '--extend-ignore=D203,D213,UP007,UP031',
            '--config=lint.isort.force-single-line=true',
            '--config=lint.isort.order-by-type=false',
            '--config=lint.pyupgrade.keep-runtime-typing=true'
        ]
    # Run the Ruff formatter (black alternative):
    -   id: ruff-format
        args: [
            '--config=format.docstring-code-format=true'
        ]
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
        additional_dependencies: [
            'flake8-rst-docstrings',
         ]
-   repo: https://github.com/asottile/blacken-docs
    rev: 1.20.0
    hooks:
    -   id: blacken-docs
        additional_dependencies: [black==24.4.2]
        exclude: ^.github/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
    -   id: rstcheck
        args: [
            --report-level=warning,
            --ignore-roles=ref,
            "--ignore-directives=automodule,toctree",
            --ignore-substitutions=version
        ]
-   repo: https://github.com/PyCQA/doc8
    rev: 'v2.0.0'
    hooks:
    -   id: doc8
        additional_dependencies: [pygments]
        args: [--quiet,--ignore=D001]
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        files: \.(py|sh|rst|yml|yaml)$
        args: ['-L', 'sintax,nin,otu']
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        # equivalent to "files" in .mypy.ini
        files: '^(thapbi_pict|scripts)/'
        additional_dependencies: [biopython>=1.82]
ci:
    # Settings for the https://pre-commit.ci/ continuous integration service
    autofix_prs: true
    # Default message is more verbose
    autoupdate_commit_msg: '[pre-commit.ci] autoupdate'
    # Default is weekly
    autoupdate_schedule: monthly
