# This is a special configuration file to run tests on Travis-CI via
# GitHub notifications when changes are committed.
#
# This file is not intended for end users of the tool.

# We don't need sudo so can avoid slower legacy TravisCI infrastructure
sudo: false
dist: xenial
addons:
  apt:
    # Would like to insert the requirements-ext.txt file but names differ...
    packages:
     - ncbi-blast+
     # cutadapt
     # flash
     - graphviz
     - hmmer
     - swarm
     - trimmomatic
     - unzip
language: python
python: "3.6"
cache: pip

before_install:
 - "if grep -P '\t' *.md */*.md */*/*.md; then echo 'Tabs are bad, please use four spaces in Markdown files.'; false; fi"
 - "if grep -P '\t' *.yml .circleci/*.yml ; then echo 'Tabs are bad, please use four spaces in Yaml files.'; false; fi"
 - "if grep -P '\t' */*.py ; then echo 'Tabs are bad, please use four spaces in Python files.'; false; fi"
 - "if grep -n -r '[[:blank:]]$' *.md */*.md */*/*.md; then echo 'Please remove trailing whitespace in Markdown files.'; false; fi"
 - "if grep -n -r '[[:blank:]]$' *.yml .circleci/*.yml ; then echo 'Please remove trailing whitespace in Yaml files.'; false; fi"
 - "if grep -n -r '[[:blank:]]$' */*.py; then echo 'Please remove trailing whitespace in Python files.'; false; fi"
 - pip install --upgrade pip setuptools
 - pip install flake8==3.6 flake8-black flake8-blind-except flake8-docstrings flake8-rst-docstrings restructuredtext-lint flake8-bugbear flake8-pie flake8-comprehensions pygments
 - echo "Using flake8 (including black) to check Python code"
 - flake8 .
 - echo "Using restructuredtext-lint to check non-Sphinx documentation"
 - restructuredtext-lint *.rst database/*.rst
 # Build the docs (do as a TravisCI stage/matrix entry?)
 - cd $HOME/docs
 - pip install -r requirements-docs.txt
 - make html
 - cd $HOME

install:
 # Already installed external dependencies with apt packages (above)
 # Deliberatly not installing Python dependencies here, pip should do it...
 # pip install -r requirements.txt
 # Make a tar-ball, and try installing from that
 - rm -rf dist/* thapbi_pict/ITS1_DB.sqlite
 - sqlite3 thapbi_pict/ITS1_DB.sqlite < database/ITS1_DB.sql
 - chmod a-w thapbi_pict/ITS1_DB.sqlite
 - python setup.py sdist --formats=gztar
 - python setup.py bdist_wheel
 - pip install dist/thapbi_pict-*.whl

script:
 # Now unpack tests from the sdist tar-ball
 - tar --wildcards '*/tests/*' -zxvf dist/thapbi_pict-*.tar.gz
 - tar --wildcards '*/database/*' -zxvf dist/thapbi_pict-*.tar.gz
 - cd thapbi_pict-*/
 # Run the tests (and confirm the tar-ball is complete)
 - tests/run_tests.sh
