# MANIFEST.in
#
# This tells setuptools what files to distribute.

include MANIFEST.in
include *.rst

recursive-include thapbi_pict *.py
recursive-include scripts *.py

# Placing the HMM and DB binary files within the Python tree as
# the simplest way to get them included in a wheel for install:
recursive-include thapbi_pict/hmm controls.hmm*
include thapbi_pict/ITS1_DB.sqlite

# Deliberately not risking everything in database/ via wildcards.
# e.g. NCBI taxonomy or symlinks to control plate positive controls.
include database/README.rst
include database/ITS1_DB.sql
include database/build_ITS1_DB.sh
include database/controls.fasta
include database/Phytophthora_ITS1_curated.fasta
include database/Nothophytophthora_ITS1_curated.fasta
include database/2021-02-23-ITS_Oomycota_w32.fasta
include database/single_isolates/*.fasta

# The following is better than a blanket include wildcard * but
# this still risks unwanted includes of any working files:
recursive-include tests *.sh *.txt *.tsv *.fasta *.fastq.gz *.xgmml

include tests/reads/6e847180a4da6eed316e1fb98b21218f_R?.fastq
include tests/reads/SRR6303948_sample_?.fastq
include tests/reads/*.md5
include tests/woody_hosts/intermediate.tar.bz2

prune tests/woody_hosts/raw_data/
prune tests/woody_hosts/positive_controls/
prune tests/woody_hosts/summary/
prune tests/woody_hosts/intermediate/

prune examples/

include examples/README.rst

include examples/woody_hosts/README.rst
include examples/woody_hosts/metadata.tsv
include examples/woody_hosts/setup.sh
include examples/woody_hosts/run.sh
include examples/woody_hosts/intermediate.tar.bz2
include examples/woody_hosts/expected/*.known.tsv

include examples/recycled_water/README.rst
include examples/recycled_water/PRJNA417859.txt
include examples/recycled_water/setup.sh
include examples/recycled_water/run.sh
include examples/recycled_water/Redekar_et_al_2019_sup_table_3.fasta
include examples/recycled_water/Redekar_et_al_2019_sup_table_3.tsv
include examples/recycled_water/make_meta.py
include examples/recycled_water/metadata.tsv
include examples/recycled_water/raw_data/MD5SUM.txt

include examples/fungal_mock/README.rst
include examples/fungal_mock/PRJNA377530.txt
include examples/fungal_mock/ITS1.fasta
include examples/fungal_mock/ITS2.fasta
include examples/fungal_mock/mock_community.known.tsv
include examples/fungal_mock/negative_control.known.tsv
include examples/fungal_mock/setup.sh
include examples/fungal_mock/run.sh
include examples/fungal_mock/amp_lib_one/metadata.tsv
include examples/fungal_mock/amp_lib_two/metadata.tsv
include examples/fungal_mock/amp_lib_one/raw_data/MD5SUM.txt
include examples/fungal_mock/amp_lib_two/raw_data/MD5SUM.txt

include examples/microalgal_mock/README.rst
include examples/microalgal_mock/PRJNA314977.txt
include examples/microalgal_mock/mock_community.fasta
include examples/microalgal_mock/mock_community.known.tsv
include examples/microalgal_mock/mock_freshwater.known.tsv
include examples/microalgal_mock/mock_marine.known.tsv
include examples/microalgal_mock/setup.sh
include examples/microalgal_mock/run.sh
include examples/microalgal_mock/metadata.tsv
include examples/microalgal_mock/raw_data/V4/MD5SUM.txt
include examples/microalgal_mock/raw_data/V8V9/MD5SUM.txt

include examples/great_lakes/README.rst
include examples/great_lakes/PRJNA379165.txt
include examples/great_lakes/setup.sh
include examples/great_lakes/run.sh
include examples/great_lakes/metadata.tsv
include examples/great_lakes/MOL16S.fasta
include examples/great_lakes/SPH16S.fasta
include examples/great_lakes/raw_data/MD5SUM.txt
include examples/great_lakes/expected/mock_community.MOL16S.known.tsv
include examples/great_lakes/expected/mock_community.SPH16S.known.tsv
include examples/great_lakes/expected/negative_control.known.tsv

include examples/fecal_sequel/README.rst
include examples/fecal_sequel/PRJNA574765.txt
include examples/fecal_sequel/setup.sh
include examples/fecal_sequel/run.sh
include examples/fecal_sequel/metadata.tsv
include examples/fecal_sequel/curated_bats.fasta
include examples/fecal_sequel/observed_3_bats.fasta
include examples/fecal_sequel/mock_community.known.tsv
include examples/fecal_sequel/raw_data/MD5SUM.txt

include examples/endangered_species/README.rst
include examples/endangered_species/PRJEB18620.txt
include examples/endangered_species/setup.sh
include examples/endangered_species/run.sh
include examples/endangered_species/metadata.tsv
include examples/endangered_species/raw_download/MD5SUM.txt
include examples/endangered_species/expected/EM_*.known.tsv
include examples/endangered_species/expected/S*.template.tsv
include examples/endangered_species/references/*.fasta
