# MANIFEST.in
#
# This tells setuptools what files to distribute.

include MANIFEST.in
include *.md

recursive-include thapbi_pict *.py
recursive-include thapbi_pict/hmm phytophthora_its1.*

# Deliberately not bothering to include legacy/ subdirectory
# and anything else which might be present locally like an
# NCBI taxonomy or symlinks to control plate positive controls.
include database/README.md
include database/ITS1_DB.sql

# Well better than a blanket include *
# this still risks false includes of any working files:
recursive-include tests *.sh *.txt *.tsv *.fasta *.fastq.gz
