# Python dependencies for building the documentation with Sphinx.
# These are used in .readthedocs.yaml but can be used manually with pip:
#
# $ pip install -r requirements-docs.txt
#
# or if using conda,
#
# $ conda install --file requirements-docs.txt
#

sphinx==7.2.6
sphinx_rtd_theme==2.0.0
