# These are the external (non-Python) dependencies, best installed with
#
# $ conda install --file requirements-ext.txt
#
# We assume you have the default channel, conda-forge, and bioconda.

biom-format
blast
flash
graphviz
sqlite >=3
unzip
vsearch >=2.23.0
