# These are the Python dependencies, best installed with
#
# $ pip install -r requirements.txt
#
# or if using conda,
#
# $ conda install --file requirements.txt
#

biopython
cutadapt >= 3.0
matplotlib
networkx >= 2.4
pydot
python-levenshtein
sqlalchemy
xlsxwriter
