# These are the external (non-Python) dependencies, best installed with
#
# $ conda install --file requirements-ext.txt
#
# We assume you have the default channel, conda-forge, and bioconda.

blast
flash
graphviz
unzip
