# This is a special configuration file to run tests on Circle-CI via
# GitHub notifications when changes are committed.
#
# This file is not intended for end users of the tool.

version: 2
jobs:
  build:
    docker:
      - image: continuumio/miniconda3
    steps:
      - checkout
      - run:
          name: Setup Conda
          command: |
            conda config --set always_yes yes --set changeps1 no --set channel_priority strict
            conda update -q conda
            conda config --add channels defaults
            conda config --add channels bioconda
            conda config --add channels conda-forge
            conda info -a
      - run:
          name: Whitespace checks
          command: |
            if grep -n -P '\t' *.rst */*.rst */*/*.rst; then echo 'Tabs are bad, please use four spaces in RST files.'; false; fi
            if grep -n -P '\t' .circleci/*.yml ; then echo 'Tabs are bad, please use four spaces in Yaml files.'; false; fi
            if grep -n -P '\t' */*.py; then echo 'Tabs are bad, please use four spaces in Python files.'; false; fi
            if grep -n -r '[[:blank:]]$' *.rst */*.rst */*/*.rst; then echo 'Please remove trailing whitespace in RST files.'; false; fi
            if grep -n -r '[[:blank:]]$' *.yml .circleci/*.yml ; then echo 'Please remove trailing whitespace in Yaml files.'; false; fi
            if grep -n -r '[[:blank:]]$' */*.py; then echo 'Please remove trailing whitespace in Python files.'; false; fi
            if grep -n -r '[[:blank:]]$' */*.sh */*/*.sh; then echo 'Please remove trailing whitespace in shell files.'; false; fi
            grep -v '^>' database/Phytophthora_ITS1_curated.fasta  | LC_ALL=C sort -c -f
      - run:
          name: Python and RST checks
          command: |
            conda create -q -n linting python=3.7
            source activate linting
            python --version
            python -m pip install restructuredtext-lint pygments
            restructuredtext-lint *.rst database/*.rst tests/*/*.rst
            python -m pip install  black
            black --check .
            python -m pip install flake8 flake8-blind-except flake8-docstrings flake8-rst-docstrings flake8-bugbear flake8-sfs
            flake8 .
            echo "Python and RST checks passed."
      - run:
          name: Dependencies
          command: |
            conda create -q -n testing python=3.7
            source activate testing
            python --version
            conda install --file requirements-ext.txt
            echo "External (non-Python) dependencies installed"
            conda install curl
            echo "Installed curl"
            # For installing the Python requirements either conda or pip should work,
            # but conda preferable if there are packages with C code but no wheel
            conda install --file requirements.txt
            # python -m pip install -r requirements.txt
            echo "Python dependencies installed"
      - run:
          name: Installation
          command: |
            source activate testing
            rm -rf dist/* thapbi_pict/ITS1_DB.sqlite
            sqlite3 thapbi_pict/ITS1_DB.sqlite < database/ITS1_DB.sql
            chmod a-w thapbi_pict/ITS1_DB.sqlite
            python setup.py sdist --formats=gztar
            python setup.py bdist_wheel
            echo "Installing our wheel..."
            cd dist
            python -m pip install thapbi_pict-*.whl
            cd ..
            echo "THAPBI PICT should now be installed"
      - run:
          name: Test
          command: |
            source activate testing
            # Unpack the tests from the sdist tar-ball
            tar --wildcards '*/tests/*' -zxvf dist/thapbi_pict-*.tar.gz
            tar --wildcards '*/examples/*' -zxvf dist/thapbi_pict-*.tar.gz
            tar --wildcards '*/database/*' -zxvf dist/thapbi_pict-*.tar.gz
            tar --wildcards '*/controls.hmm*' -zxvf dist/thapbi_pict-*.tar.gz
            cd thapbi_pict-*/
            # Run the tests (and confirm the tar-ball is complete)
            tests/run_tests.sh
